@model Konferencja.Models.ManagePublicationsViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>Zarządzaj publikacjami</h2>

<h4>Publikacje bez recenzji</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Konferencja")
        </th>
        <th>
            @Html.DisplayName("Użytkownik")
        </th>
        <th>
            @Html.DisplayName("Tytuł")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Plik")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PublicationsWithoutReviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.Theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<hr />
<h4>Publikacje oczekujuące na akceptację</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Konferencja")
        </th>
        <th>
            @Html.DisplayName("Użytkownik")
        </th>
        <th>
            @Html.DisplayName("Tytuł")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Plik")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.PendingPublications)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conference.Theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>