@model Konferencja.Models.Reviewer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviewer</h4>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="col-sm-6 col-md-4">
                        <img src="@Model.Photo" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Html.DisplayFor(model => model.FullName)
                        </h4>
                        <small>
                            <cite>
                                <i class="glyphicon glyphicon-book"></i> @Html.DisplayFor(model => model.Specialisation)
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> @Html.DisplayFor(model => model.Email)
                            <br />
                            <i class="glyphicon glyphicon-pencil"></i> Recenzje: @Html.DisplayFor(model => model.Reviews.Count)
                        </p>
                        <p>Referencje: <br />@Html.DisplayFor(model => model.References)</p>
                    </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
