@model Konferencja.Models.Conference

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy napewno chcesz to usunąć?</h3>
<div>
    <h4>Konferencja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-warning" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
