@model IEnumerable<Konferencja.Models.Review>

@{
    ViewBag.Title = "Lista recenzji";
}

<h2>Lista recenzji</h2>

<p>
    @Html.ActionLink("Stwórz nową recenzję", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Tytuł publikacji", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @*@Html.ActionLink("Autor publikacji", "Index", new { sortOrder = ViewBag.AuthorSortParm })*@
            @Html.DisplayName("Autor publikacji")
        </th>
        <th>
            @Html.DisplayName("Recenzent")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Publication.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publication.ApplicationUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer.FullName)
            </td>
            <td>
                @if (item.HasGrade)
                {
                    switch (item.Grade)
                    {
                        case Konferencja.Models.Grade.A:
                            <button type="button" class="btn btn-success btn-sm btn-round"><b>A</b></button>
                            break;
                        case Konferencja.Models.Grade.B:
                            <button type="button" class="btn btn-success btn-sm btn-round"><b>B</b></button>
                            break;
                        case Konferencja.Models.Grade.C:
                            <button type="button" class="btn btn-warning btn-sm btn-round"><b>C</b></button>
                            break;
                        case Konferencja.Models.Grade.D:
                            <button type="button" class="btn btn-danger btn-sm btn-round"><b>D</b></button>
                            break;
                        case Konferencja.Models.Grade.F:
                            <button type="button" class="btn btn-danger btn-sm btn-round"><b>E</b></button>
                            break;
                    }
                }
                else
                {
                    @*@Html.DisplayFor(modelItem => item.Grade)*@
                    <button type="button" class="btn btn-default btn-sm btn-round" data-toggle="popover" data-placement="right" data-content="Publikacja w tej recenzji nie ma jeszcze wystawionej oceny."><b>?</b></button>
                }
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }) |
                @Html.ActionLink("Usuwanie", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
    </script>
}

